@charset "UTF-8";

@import url('https/fonts.googleapis.com/css?family=Lato:300,400,700,900&apos');

body {
margin: 0;
font-family: "Lato", sans-serif;
color: #FFF;
text-decoration: none;
padding: 0;
max-width: 100vw;
height: auto;
background-size: cover;
background-color: #232323;
}

* img {
  max-width: 20vw;
  height: auto;
  display: block;
}

/*main_grid*/
#content {
	display: grid;
	grid-auto-rows: minmax(400px, auto);
	margin: 0 auto;
	align-items: stretch;
	grid-template-areas:
	"tittel"
	"koenigsegg"
	"pagani"
	"bugatti"
	"ferrari"
	"audi"
	"mclaren"
	"lambo"
	"chev"
	"ford"
	"aston"
}

.tittel {
	grid-area: tittel;
  text-align: center;
}

.tittel h1 {
	border: solid red;
	padding: .5em;
	margin: .8em 17em;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.2em;
}

/*koenigsegg*/
.koenigsegg {
	display: grid;
	grid-auto-rows: minmax(380px, auto);
	margin: 0 auto;
	grid-area: koenigsegg;
	grid-template-areas:
	"koenigseggb koenigseggt"
	". koenigseggl"
}
.koenigseggb {
grid-area: koenigseggb;
}
.koenigseggl {
	grid-area: koenigseggl;
}

/*pagani*/
.pagani {
	display: grid;
	grid-auto-rows: minmax(100px, auto);
	margin: 0 auto;
	grid-area: pagani;
	grid-template-areas:
	"paganit paganib"
	"paganil ."
}
.paganib {
grid-area: paganib;
}
.paganil {
	grid-area: paganil;
}

/*bugatti*/
.bugatti {
	display: grid;
	grid-auto-rows: minmax(100px, auto);
	margin: 0 auto;
	grid-area: bugatti;
	grid-template-areas:
	"bugattib"
	"bugattil"
}
.bugattib {
grid-area: bugattib;
}
.bugattil {
	grid-area: bugattil;
}

/*ferrari*/
.ferrari {
	display: grid;
	grid-auto-rows: minmax(100px, auto);
	margin: 0 auto;
	grid-area: ferrari;
	grid-template-areas:
	"ferrarib"
	"ferraril"
}
.ferrarib {
grid-area: ferrarib;
}
.ferraril {
	grid-area: ferraril;
}

/*audi*/
.audi {
	display: grid;
	grid-auto-rows: minmax(100px, auto);
	margin: 0 auto;
	grid-area: audi;
	grid-template-areas:
	"audib"
	"audil"
}
.audib {
grid-area: audib;
}
.audil {
	grid-area: audil;
}

/*mclaren*/
.mclaren {
	display: grid;
	grid-auto-rows: minmax(100px, auto);
	margin: 0 auto;
	grid-area: mclaren;
	grid-template-areas:
	"mclarenb"
	"mclarenl"
}
.mclarenb {
grid-area: mclarenb;
}
.mclarenl {
	grid-area: mclarenl;
}

/*lambo*/
.lambo {
	display: grid;
	grid-auto-rows: minmax(100px, auto);
	margin: 0 auto;
	grid-area: lambo;
	grid-template-areas:
	"lambob"
	"lambol"
}
.lambob {
grid-area: lambob;
}
.lambol {
	grid-area: lambol;
}

/*chev*/
.chev {
	display: grid;
	grid-auto-rows: minmax(100px, auto);
	margin: 0 auto;
	grid-area: chev;
	grid-template-areas:
	"chevb"
	"chevl"
}
.chevb {
grid-area: chevb;
}
.chevl {
	grid-area: chevl;
}

/*ford*/
.ford {
	display: grid;
	grid-auto-rows: minmax(100px, auto);
	margin: 0 auto;
	grid-area: ford;
	grid-template-areas:
	"fordb"
	"fordl"
}
.fordb {
grid-area: fordb;
}
.fordl {
	grid-area: fordl;
}

/*aston*/
.aston {
	display: grid;
	grid-auto-rows: minmax(100px, auto);
	margin: 0 auto;
	grid-area: aston;
	grid-template-areas:
	"astonb"
	"astonl"
}
.astonb {
grid-area: astonb;
}
.astonl {
	grid-area: astonl;
}
