@charset "UTF-8";
@import url('https/fonts.googleapis.com/css?family=Lato:300,400,700,900&apos');
body {
font-family: "Lato", sans-serif;
text-decoration: none;
margin: 0;
max-width: 100%;
color: #232323;
height: auto;
background-color: #FFF;
overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0;
}



#alt {
  display: grid;
  grid-template-areas:
  "tittel ."
  "ko tekst_1"
  "knako knako"
  "tekst_2 pa"
  "knapa knapa"
  "bu tekst_3"
  "knabu knabu"
}

a:hover {
  background-color: #b30000;
  color: #FFF;
  border-color: #b30000;
  transition: 1.5s;
}

a:not(hover) {
  background-color: #FFF;
  color: #232323;
  border-color: #b30000;
  transition: 1.5s;
}

.tittel {
  grid-area: tittel;
  font-size: 4em;
  color: #FFF;
  border-width: '40px';
  border-style: solid;
  border-color:  #FFF;
  padding: .3em .3em;
  width: 6em;
}

/* bilde*/
.ko {
  grid-area: ko;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.tekst_1 {
  grid-area: tekst_1;
  font-size: 2em;
  line-height: 1.2em;
  width: 90%;
  margin: 4em;
  margin-left: auto;
  margin-right: auto;
}

.knako  {
  grid-area: knako;
  border-width: '4px';
  border-style: solid;
  padding: .6em .5em 0 .5em;
  color: #232323;
  border-color: #b30000;
  background-color: #FFF;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  width: 8em;
  height: 1.8em;
  margin-left: 66.6%;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 1em;
}

/* bilde */
.pa {
  grid-area: pa;
  width: 50%;
  height: auto;
  margin-top: 7em;
  margin: auto;
}

.tekst_2 {
  grid-area: tekst_2;
  font-size: 2em;
  line-height: 1.2em;
  width: 90%;
  margin: 4em;
  margin-left: auto;
  margin-right: auto;
}

.knapa {
  grid-area: knapa;
  border-width: '4px';
  border-style: solid;
  border-color: #b30000;
  font-size: 2em;
  text-align: center;
  color: #232323;
  text-decoration: none;
  padding: .6em .5em 0 .5em;
  width: 5em;
  height: 1.8em;
  margin-left: 15%;
  margin-right: auto;
  margin-bottom: 2em;
}

.bu {
  grid-area: bu;
  width: 70%;
  height: auto;
  margin: auto;
}

.tekst_3 {
  grid-area: tekst_3;
  font-size: 2em;
  line-height: 1.2em;
  width: 90%;
  margin: 4em;
  margin-left: auto;
  margin-right: auto;
}

.knabu {
  grid-area: knabu;
  border-width: '4px';
  border-style: solid;
  border-color: #b30000;
  font-size: 2em;
  text-align: center;
  color: #232323;
  text-decoration: none;
  padding: .6em .5em 0 .5em;
  width: 5em;
  height: 1.8em;
  margin-left: 15%;
  margin-right: auto;
  margin-bottom: 2em;
}

    .home {
      background-image: url(https://images.unsplash.com/photo-1506469717960-433cebe3f181?ixlib=rb-0.3.5&s=8a3680936dcf244756ccaf1cdfcdefc8&auto=format&fit=crop&w=1350&q=80);
      background-size: cover;
      background-position: center;
      padding: 1em;
      color: #FFF;
     width: 100vw;
    height: 100vh;
       }

@media (min-width: 25rem) {
 .home{
  width: 100%;
  height: 100vh;
 }
}


@media (min-width: 60rem) {
 .home{
  width: 100%;
  height: auto;
 }
}

@media (min-height: 30rem) {
 .home{
  width: 100%;
  height: 100vh;
 }
}
