@charset "UTF-8";

@import url('https/fonts.googleapis.com/css?family=Lato:300,400,700,900&apos');

body {
	
	background-color: #232323;
	margin: 0;
  font-family: "Lato", sans-serif;  
  color: white;
  text-decoration: none;
  padding: 0;
	max-width: 100vw;
	height: auto;
	background-size: cover;
}

*
{box-sizing: border-box;}

h1 { 

font-size: 3em;
margin: 0.4em;
padding: 0;
font-weight: 300;
text-shadow: 2px black;
 }

h2 {

font-size: 1.5em;
margin: -.3em;
padding: 0;
font-weight: 400;
line-height: 1.5em;
}

img {max-width:100%;}

.tittel {
display: inline-block;
border-width: '4px';
border-style: solid;
border-color: #F83;
padding: .5em 1em;
margin: 3em;
color: white;
font-size: .8em;
 }

 .link {
position: absolute;
display: inline-block;
border-width: '2px';
border-style: solid;
border-color: #F83;
padding: 1em 3em;
margin: auto;
margin-bottom: 3.5em;
background-color:none;
text-decoration: none;
text-transform: uppercase;
color: #FFF;
font-size: 1.3em;
left: 10em;
top: 50em;
}

 
 .tekst_1 {
display: flex;
padding: .5em;
flex-wrap: wrap;
justify-content: left;
margin: 2em;
align-items: flex-start;
}

.bilde {
  width: 50vw;
  display: flex;
  background-color: blue;
}

.tekst_2 {
  flex: 2;
  padding: 2em;
  padding-right: 40em;
  text-align: left;
}

.button {
  flex: 0;
  align-content: left;
  background-color: green;
}

.tekst_1 div {
   flex: 1 0 50%;
   text-align: center;
   padding: 10px;
   text-align: left;
} 


.main_tittel  {
display: block;
border-width: '4px';
border-style: solid;
border-color: #F83;
padding: .3em 1em;
margin: 0 22em 0 22em;
color: white;
text-align: center;
margin-top: 4em;
font-size: 1.5em;
margin-bottom: 4em;
}

.main_tittel a {
display: block; 
margin: .3em;
text-decoration: none;
color: white;
text-align: center;
font-size: 3em;
} 