@charset "UTF-8";
@import url('https/fonts.googleapis.com/css?family=Lato:300,400,700,900&apos');
body {
font-family: "Lato", sans-serif;
text-decoration: none;
max-width: 100%;
color: #FFF;
height: auto;
background-color: #232323;
}
body::-webkit-scrollbar {
    width: 0em;
}
body::-webkit-scrollbar-thumb {
  background-color: #FFF;
}


a:hover {
background-color: #FFF;
color: #232323;
transition: 2s;
font-family: Georgia, serif;
}

a:not(:hover){
	transition: 2s;
	background-color: #232323;
	color: #FFF;
}

#koenigsegg {
text-decoration: none;
display: grid;
grid-template-areas:
"home home home home sver"
"tittel tittel tittel tittel tittel"
"agera agera agera agera agera"
"tittel_1 tittel_1 tittel_1 tittel_1 tittel_1"
"tekst_1 tekst_1 tekst_1 tekst_1 tekst_1"
"ageral ageral ageral ageral ageral"
"one one one one one"
"tittel_2 tittel_2 tittel_2 tittel_2 tittel_2"
"tekst_2 tekst_2 tekst_2 tekst_2 tekst_2"
"onel onel onel onel onel"
"cc cc cc cc cc"
"tittel_3 tittel_3 tittel_3 tittel_3 tittel_3"
"tekst_3 tekst_3 tekst_3 tekst_3 tekst_3"
"ccl ccl ccl ccl ccl"
"regera regera regera regera regera"
"tittel_4 tittel_4 tittel_4 tittel_4 tittel_4"
"tekst_4 tekst_4 tekst_4 tekst_4 tekst_4"
"regeral regeral regeral regeral regeral"
"chris chris chris chris chris"
"tittel_5 tittel_5 tittel_5 tittel_5 tittel_5"
"tekst_5 tekst_5 tekst_5 tekst_5 tekst_5"
"chrisl chrisl chrisl chrisl chrisl"
}

.home {
grid-area: home;
border-width: '25px';
border-radius: 5vw;
display: inline-block;
border-style: solid;
border-color: #FFF;
padding: .5em .5em;
text-align: center;
width: 3em;
margin: 1em;
height: auto;
text-decoration: none;
color: #FFF;
font-size: 1.6em;
}
.sver img {
grid-area: sver;
width: 15%;
margin-right: 1em;
margin-top: 1em;
position: absolute;
}
.sver:hover{
grid-area: sver;
background-color: #232323;
border-color: #232323;
margin-top: 3em;
transition: 1.2s;
}
.sver:not(:hover){
	margin-top: 1em;
	transition: 1.2s;
}

.tittel {
grid-area: tittel;
border-width: .1em;
border-style: solid;
border-color: #FFF;
width: 9em;
font-size: 4.5em;
margin-bottom: 1em;
text-align: center;
margin-left: auto;
margin-right: auto;
color: #FFF;
text-decoration: none;
}
.agera {
grid-area: agera;
background-image: url("https://hdqwalls.com/download/koenigsegg-agera-rs-naraya-4k-2048x1152.jpg");
height: 900px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-left: -.5em;
margin-right: -.5em;
}
.tittel_1 {
grid-area: tittel_1;
font-size: 5em;
margin-right: auto;
margin-left: auto;
margin-top: 1em;
margin-bottom: 0.5em;
}
.tekst_1 {
grid-area: tekst_1;
font-size: 2em;
line-height: 1.2em;
width: 90vw;
text-align: justify;
margin-left: auto;
margin-right: auto;
}
.ageral {
grid-area: ageral;
text-decoration: none;
max-width: 100%;
border-style: solid;
border-width: .2em;
border-radius: 1vw;
border-color: #FFF;
padding: .5em .5em;
color: #FFF;
text-align: center;
width: 6em;
height: 1em;
font-size: 2.2em;
margin-top: 1.5em;
margin-left: auto;
margin-right: auto;
margin-bottom: 0.5em;
}

.one {
grid-area: one;
background-image: url("http://1.bp.blogspot.com/-VUGFIQGCRhI/VS1ZooEv-wI/AAAAAAAAAYU/pEFUALGyeqU/s1600/30206-koenigsegg-agera-1920x1080-car-wallpaper.jpg");
height: 900px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-left: -.5em;
margin-right: -.5em;
}
.tittel_2 {
grid-area: tittel_2;
font-size: 5em;
margin-right: auto;
margin-left: auto;
margin-top: 1em;
margin-bottom: 0.5em;
}
.tekst_2 {
grid-area: tekst_2;
font-size: 2em;
line-height: 1.2em;
width: 90vw;
text-align: justify;
margin-left: auto;
margin-right: auto;
}
.onel {
grid-area: onel;
text-decoration: none;
max-width: 100%;
border-style: solid;
border-width: .2em;
border-color: #FFF;
border-radius: 1vw;
padding: .5em .5em;
color: #FFF;
text-align: center;
width: 6em;
height: 1em;
font-size: 2.2em;
align-items: center;
margin-top: 1.5em;
margin-left: auto;
margin-right: auto;
margin-bottom: .5em;
}

.cc {
grid-area: cc;
background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0b/1996-koenigsegg-cc-prototype_100529345_l.jpg");
height: 900px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-left: -.5em;
margin-right: -.5em;
}
.tittel_3 {
grid-area: tittel_3;
font-size: 5em;
margin-right: auto;
margin-left: auto;
margin-top: 1em;
margin-bottom: 0.5em;
}
.tekst_3 {
grid-area: tekst_3;
font-size: 2em;
line-height: 1.2em;
width: 90vw;
text-align: justify;
margin-left: auto;
margin-right: auto;
}
.ccl {
grid-area: ccl;
text-decoration: none;
max-width: 100%;
border-style: solid;
border-width: .2em;
border-radius: 1vw;
border-color: #FFF;
padding: .5em .5em;
color: #FFF;
text-align: center;
width: 6em;
height: 1em;
font-size: 2.2em;
align-items: center;
margin-top: 1.5em;
margin-left: auto;
margin-right: auto;
margin-bottom: 1em;
}
.regera {
grid-area: regera;
background-image: url("http://wallpapers-best.com/uploads/posts/2015-11/15_koenigsegg_regera.jpg");
height: 900px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-left: -.5em;
margin-right: -.5em;
}
.tittel_4 {
grid-area: tittel_4;
font-size: 5em;
margin-right: auto;
margin-left: auto;
margin-top: 1em;
margin-bottom: 0.5em;
}

.tekst_4 {
grid-area: tekst_4;
font-size: 2em;
line-height: 1.2em;
width: 90vw;
text-align: justify;
margin-left: auto;
margin-right: auto;
}
.regeral {
grid-area: regeral;
text-decoration: none;
max-width: 100%;
border-style: solid;
border-width: .2em;
border-radius: 1vw;
border-color: #FFF;
padding: .5em .5em;
color: #FFF;
text-align: center;
width: 6em;
height: 1em;
font-size: 2.2em;
align-items: center;
margin-top: 1.5em;
margin-left: auto;
margin-right: auto;
margin-bottom: 2em;
}

.chris {
grid-area: chris;
background-image: url("https://billionairetoys.com/wp-content/uploads/bg-christian.jpg");
height: 900px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-left: -.5em;
margin-right: -.5em;
}
.tittel_5 {
grid-area: tittel_5;
font-size: 5em;
margin-right: auto;
margin-left: auto;
margin-top: 1em;
margin-bottom: 0.5em;
}
.tekst_5 {
grid-area: tekst_5;
font-size: 2em;
line-height: 1.2em;
width: 90vw;
text-align: justify;
margin-left: auto;
margin-right: auto;
}
.chrisl {
grid-area: chrisl;
text-decoration: none;
max-width: 100%;
border-style: solid;
border-width: .2em;
border-radius: 1vw;
border-color: #FFF;
padding: .5em .5em;
color: #FFF;
text-align: center;
width: 12em;
height: 1em;
font-size: 2.2em;
align-items: center;
margin-top: 1.5em;
margin-left: auto;
margin-right: auto;
margin-bottom: .5em;
}

@media (min-width: 25rem) {
 #koenigsegg{
  width: 100%;
  height: 100vh;
 }
}


@media (min-width: 60rem) {
 #koenigsegg{
  width: 100%;
  height: auto;
 }
}

@media (min-height: 30rem) {
 #koenigsegg{
  width: 100%;
  height: 100vh;
 }
}
