@charset "UTF-8";
@import url('https/fonts.googleapis.com/css?family=Lato:300,400,700,900&apos');
body {
font-family: "Lato", sans-serif;  
text-decoration: none;
max-width: 100%;
color: #267326;
height: auto;
background-color: #f2f2f2;
}
body::-webkit-scrollbar {
    width: 0em;
}
body::-webkit-scrollbar-thumb {
  background-color: #FFF;
}

a:hover {
background-color: #f2f2f2;
color: #b30000;
border-color: #b30000;
transition: 1s;
font-family: Georgia, serif;
}

a:not(:hover){
	transition: 1.5s;
	background-color: #f2f2f2;
  border-color: #267326;
	color: #267326;
}

#koenigsegg {
text-decoration: none;
display: grid;
grid-template-areas: 
"home home home home sver"
"tittel tittel tittel tittel tittel"
"agera agera agera agera agera"
"tittel_1 tittel_1 tittel_1 tittel_1 tittel_1"
"tekst_1 tekst_1 tekst_1 tekst_1 tekst_1"
"ageral ageral ageral ageral ageral"
"one one one one one"
"tittel_2 tittel_2 tittel_2 tittel_2 tittel_2"
"tekst_2 tekst_2 tekst_2 tekst_2 tekst_2"
"onel onel onel onel onel"
"cc cc cc cc cc"
"tittel_3 tittel_3 tittel_3 tittel_3 tittel_3"
"tekst_3 tekst_3 tekst_3 tekst_3 tekst_3"
"ccl ccl ccl ccl ccl"
"regera regera regera regera regera"
"tittel_4 tittel_4 tittel_4 tittel_4 tittel_4"
"tekst_4 tekst_4 tekst_4 tekst_4 tekst_4"
"regeral regeral regeral regeral regeral"
"hor hor hor hor hor"
"tittel_5 tittel_5 tittel_5 tittel_5 tittel_5"
"tekst_5 tekst_5 tekst_5 tekst_5 tekst_5"
"horl horl horl horl horl"
}

.home {
grid-area: home;
border-width: .25em;
display: inline-block;
border-style: solid;
border-color: #FFF;
padding: .5em .5em;
text-align: center;
width: 3em;
margin: 1em;
height: auto;
text-decoration: none;
color: #FFF;
border-color: #267326;
font-size: 1.6em;
}
.sver img {
grid-area: sver;
width: 15%;
margin-right: 1em;
margin-top: 1em;
position: absolute;
}
.sver:hover{
grid-area: sver;
border-color: #232323;
background-color: #f2f2f2;
margin-top: 3em;
transition: 1.2s;
}
.sver:not(:hover){
	margin-top: 1em;
	transition: 1.2s;
  background-color: #f2f2f2;
}

.tittel {
grid-area: tittel;
border-width: .1em;
border-style: solid;
border-color: #267326;
width: 9em;
font-size: 4.5em;
margin-bottom: 1em;
text-align: center;
margin-left: auto;
margin-right: auto;
color: #267326;
text-decoration: none;
}
.agera { 
grid-area: agera;
background-image: url("https://icdn-1.motor1.com/images/mgl/PN91L/s1/pagani-huayra-weight-race-render.jpg");
height: 900px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-left: -.5em;
margin-right: -.5em;
}
.tittel_1 {
grid-area: tittel_1;
font-size: 5em;
margin-right: auto;
margin-left: auto;
margin-top: 1em;
margin-bottom: 0.5em;
}
.tekst_1 {
grid-area: tekst_1;
font-size: 2em;
color: black;
line-height: 1.2em;
width: 90%;
margin-left: auto;
margin-right: auto;
}
.ageral {
grid-area: ageral;
text-decoration: none;
max-width: 100%;
border-style: solid;
border-width: .2em;
border-color: #FFF;
padding: .5em .5em;
color: #FFF;
text-align: center;
width: auto;
height: auto;
font-size: 2.2em;
margin-top: 1.5em;
margin-left: auto;
margin-right: auto;
margin-bottom: 0.5em;
}

.one {
grid-area: one;
background-image: url("https://4.bp.blogspot.com/-T8kBr9mqTBI/US_Xaz47qXI/AAAAAAAADac/gI3FftEILVY/s1600/Pagani+Zonda+R+Wallpapers+(2).jpg");
height: 900px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-left: -.5em;
margin-right: -.5em;
}
.tittel_2 {
grid-area: tittel_2;
color: #b30000;
font-size: 5em;
margin-right: auto;
margin-left: auto;
margin-top: 1em;
margin-bottom: 0.5em;
}
.tekst_2 {
grid-area: tekst_2;
color: black;
font-size: 2em;
line-height: 1.4em;
margin-top: 5%;
width: 90%;
margin-left: auto;
margin-right: auto;
text-align: center;
}
.onel {
grid-area: onel;
font-size: 2.2em;
color: #b30000;
border-color: #b30000;
text-decoration: none;
max-width: 100%;
border-style: solid;
border-width: .2em;
border-color: #FFF;
padding: .5em .5em;
text-align: center;
width: auto;
height: auto;
align-items: center;
margin-top: 1.5em;
margin-left: auto;
margin-right: auto;
margin-bottom: .5em;
}
.onel:hover{
  color: #267326;
  border-color: #267326;
}
.onel:not(:hover){
  color: #b30000;
  border-color: #b30000;
}

.cc {
grid-area: cc;
background-image: url("https://i.ytimg.com/vi/xuetmJ-VQ10/maxresdefault.jpg");
height: 900px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-left: -.5em;
margin-right: -.5em;
}
.tittel_3 {
grid-area: tittel_3;
font-size: 5em;
margin-right: auto;
margin-left: auto;
margin-top: 1em;
margin-bottom: 0.5em;
}
.tekst_3 {
grid-area: tekst_3;
font-size: 2em;
line-height: 1.2em;
width: 90%;
margin-left: auto;
margin-right: auto;
}
.ccl {
grid-area: ccl;
text-decoration: none;
max-width: 100%;
border-style: solid;
border-width: .2em;
border-color: #FFF;
padding: .5em .5em;
color: #FFF;
text-align: center;
width: auto;
height: auto;
font-size: 2.2em;
align-items: center;
margin-top: 1.5em;
margin-left: auto;
margin-right: auto;
margin-bottom: 1em;
}
.regera {
grid-area: regera;
background-image: url("http://wallpapers-best.com/uploads/posts/2015-11/15_koenigsegg_regera.jpg");
height: 900px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-left: -.5em;
margin-right: -.5em;
}
.tittel_4 {
grid-area: tittel_4;
font-size: 5em;
margin-right: auto;
margin-left: auto;
margin-top: 1em;
margin-bottom: 0.5em;
}

.tekst_4 {
grid-area: tekst_4;
font-size: 2em;
line-height: 1.2em;
width: 90%;
margin-left: auto;
margin-right: auto;
}
.regeral {
grid-area: regeral;
text-decoration: none;
max-width: 100%;
border-style: solid;
border-width: .2em;
border-color: #FFF;
padding: .5em .5em;
color: #FFF;
text-align: center;
width: auto;
height: auto;
font-size: 2.2em;
align-items: center;
margin-top: 1.5em;
margin-left: auto;
margin-right: auto;
margin-bottom: 2em;
}

.hor {
grid-area: hor;
background-image: url("https://img.autobytel.com/car-reviews/autobytel/123188-who-is-horacio-pagani/DSC_6927Horacio_Pagani.jpg");
height: 900px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-left: -.5em;
margin-right: -.5em;
}
.tittel_5 {
grid-area: tittel_5;
font-size: 5em;
margin-right: auto;
margin-left: auto;
margin-top: 1em;
margin-bottom: 0.5em;
}
.tekst_5 {
grid-area: tekst_5;
font-size: 2em;
line-height: 1.2em;
width: 90%;
margin-left: auto;
margin-right: auto;
}
.horl {
grid-area: horl;
text-decoration: none;
max-width: 100%;
border-style: solid;
border-width: .2em;
border-color: #FFF;
padding: .5em .5em;
color: #FFF;
text-align: center;
width: auto;
height: auto;
font-size: 2.2em;
align-items: center;
margin-top: 1.5em;
margin-left: auto;
margin-right: auto;
margin-bottom: 1em;
}

@media (min-width: 25rem) {
 #koenigsegg{
  width: 100%;
  height: 100vh;
 }
}


@media (min-width: 60rem) {
 #koenigsegg{
  width: 100%;
  height: auto;
 }
}

@media (min-height: 30rem) {
 #koenigsegg{
  width: 100%;
  height: 100vh;
 }
}